.navbar {
    margin: 0; 
    padding: 0; 
    height: 10vh;
    background-color: #E7DFD8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid.navebar {
    padding: 0 !important;
}
.btn {
    border: solid black 1px;
    margin-left: 195vh;
}
