.jumbotron{
    width: 170vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex; 
    flex-direction: column; 
    align-items: left;
    justify-content: center; 
    border: black solid 0.1vh;
    padding: 7vh 10vh;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
}
.btnSignup{
    border: solid 0.2vh black;
    border-radius: 0.5vh;
    padding: 1vh;
    font-size: 2.2vh;
    background-color: #E7DFD8;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.btnSignup:hover{
    background-color: #f5f2ef
}
.titleSignup{
    font-size: 9vh;
    margin-right: 5vh;
}

